<div class="d-flex justify-content-between">
  <div class="head-title">
    <h2><%= @product.name %></h2>
    <% if current_user.admin? %>
      <div class="boton-editar">
        <%= link_to edit_product_path(@product), class: 'btn btn-sm btn-primary' do %>
          <div class="fa fa-pen"></div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<hr>
<%= render 'admin_view' if current_user.admin? %>

<div>
  <p>
    Stock: <%= @product.stock %> <br>
    Precio: <%= @product.price %> <br>
    Activo: <%= @product.active %> <br>
    Dueño: <%= @product.user.email %> <br>
    Categorias: <% @product_categories.each do |cat| %>
      <span class="badge rounded-pill text-bg-dark"><%= cat.name %></span>
    <% end %>
  </p>
</div>
<hr>
<h4>Imágenes del producto</h4>
<div class="products">
  <div class="row">
    <% if @product.pictures.attached? %>
      <% @product.pictures.includes([:blob]).each do |picture| %>
        <div class="col-md-2 col-3">
          <%= image_tag(picture, class: 'd-block w-100', alt: @product.name) %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
