<%= link_to new_category_path, class: 'btn btn-primary' do %>
  <fa class="fa-plus"></fa> Nueva categoría
<% end %>

<table class="table">
  <thead>
  <tr>
    <th scope="col">Categoria</th>
    <th scope="col">Productos</th>
    <th scope="col">Opciones</th>
  </tr>
  </thead>
  <tbody class="table-group-divider">
  <% @categories.each do |category| %>
    <tr>
      <td><%= link_to category.name, category_path(category), class: 'text-decoration-none text-dark' %></td>
      <td><%= category.products.count %></td>
      <td>
        <%= link_to category_path(category), class: 'btn btn-sm btn-primary mx-1' do %>
          <div class="fa fa-eye"></div>
        <% end %>
        <%= link_to edit_category_path(category), class: 'btn btn-sm btn-primary mx-1' do %>
          <div class="fa fa-pen"></div>
        <% end %>
        <%= link_to category_path(category), method: :delete, data: { confirm: "vas a eliminar la categoria #{category.name}" }, class: 'btn btn-sm btn-primary mx-1' do %>
          <div class="fa fa-trash"></div>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<div class="pagy-buttons">
  <%== pagy_bootstrap_nav(@pagy, i18n_key: 'es') if @pagy.pages > 1 %>
</div>