<div class="d-flex justify-content-between">
  <div class="head-title">
    <h2><%= @category.name %></h2>
    <% if current_user.admin? %>
      <div class="boton-editar">
        <%= link_to edit_category_path(@category), class: 'btn btn-sm btn-primary' do %>
          <div class="fa fa-pen"></div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<hr>
<%= render 'admin_view' if current_user.admin? %>

<div class="products">
  <div class="row justify-content-center">
    <% @category_products.each do |product| %>
      <div class="col-lg-3 col-md-4 my-3">
        <div class="single-product h-100">
          <% if product.pictures.attached? %>
            <div id="product<%= product.id %>" class="carousel slide">
              <div class="carousel-inner">
                <% product.pictures.includes([:blob]).each_with_index do |picture, index| %>
                  <% cache picture do %>
                    <div class="carousel-item <%= "active" if index == 0 %>">
                      <%#= image_tag(product.product_image_on_disk(picture), class: 'd-block w-100', alt: product.name) %>
                      <%= image_tag(picture, class: 'd-block w-100', alt: product.name) %>
                    </div>
                  <% end %>
                <% end %>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#product<%= product.id %>" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#product<%= product.id %>" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          <% end %>
          <div class="text-center">
            <h5><%= product.name %></h5>
            <h6>$ <%= product.price %></h6>
            <% if product.stock > 0 %>
              <%= link_to 'Editar', edit_product_path(product), class: 'btn btn-sm btn-warning' %>
              <a href="#" class="btn btn-primary">Comprar</a>
            <% else %>
              <p>producto no disponible</p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="pagy-buttons">
  <%== pagy_bootstrap_nav(@pagy, i18n_key: 'es') if @pagy.pages > 1 %>
</div>